<!-- @apartments = Apartment.all -->

<% @apartments.each do |apartment| %>
    
<% @specificApartmentId = apartment.id %>
<% @specificVtLink = apartment.VT_Link %>

<% @ApartmentImagesForListings = ApartmentImage.where(apartment_id: @specificApartmentId) %>


<div class="belowNavbar">

<div class="aptInfoBox">
	<div class = "col-md-4"> <strong> <%= @address %>  </strong> </div>
  <div class = "col-md-4"> <strong> <%= @price %> </strong> </div>
  <div class = "col-md-4"><a href= "<%= @specificVtLink %>" > <strong> 360 Tour Link </strong> </a> </div>
</div>



<!-- for the bootstrap carousel. couldn't find original source of code so used this: https://bootstrapbay.com/blog/bootstrap-3-carousel-tutorial/ 
also see this: http://getbootstrap.com/javascript/#carousel-events

-->



<!--seemes the div id as specificApartmentId is working. inspecting it in the browser gets you an id of 2 which is correct for the apt i'm seeing. the problem is both the top and bottom carousels have the same id. 

      <div id= <%= @specificApartmentId %>  referring to this to the left

-->
<!--the id for each carousel is technically #number so like #1 or #2-->
<div id= <%= @specificApartmentId %> class="carousel slide" data-ride="carousel" > <!--data ride is what actually makes it slide -->
  <!-- Indicators, i.e. the bubble buttons on the bottom of the image -->
  <ol class="carousel-indicators">
    <li data-target= <%= "#" + @specificApartmentId.to_s %> data-slide-to="0" class="active"></li>
    <li data-target= <%= "#" + @specificApartmentId.to_s %> data-slide-to="1"></li>
  </ol>
 
  <!-- Wrapper for slides -->

		 
 <!--.ApartmentImage is an undefined method here: % apartment.ApartmentImage.image.each do |photoURL| % -->

<!--@ApartmentImagesForListings brings me all rows in the ApartmentImage table related to this specific apt id. 
  STILL NEED TO CALL .image to get that column of data  out -->		 
<!-- @ApartmentImagesForListings = ApartmentImage.where(apartment_id: @specificApartmentId) -->


<% @ApartmentImagesForListings.each do |photoURL| %>  <!-- each of the rows in the ApartmentImage table related to this specific apt id -->

<% if photoURL.id == @ApartmentImagesForListings.first.id %> 

  <div class="carousel-inner">
      <div class="item active">
        <img src="<%=photoURL.image%>" alt="...">
        <div class="carousel-caption">
          
        </div>
      </div>


<% else %>

  	<div class="item">
        <img src="<%=photoURL.image%>" alt="...">
        <div class="carousel-caption">
          ...
        </div>
    </div>
   
  </div> <!---end of carousel-inner class -->   <!--LOOK INTO PLACEMENT OF THIS MORE? MOVED IT AFTER END OF LOOP DIDN't CHANGE ANYTHING THO" -->

  <% end %>  <!--end of if else -->  
  <% end %>  <!--end of ApartmentImagesForListings each loop -->
  
<!-- 
tried (didn't work):
  ["#", @specificApartmentId].join(" ")
  "# #{@specificApartmentId}"
-->

<!--to_s converts integers into a string in ruby. i also tried the interpolation route but it didn't work for me -->

  <!-- Controls -->
  <a class="left carousel-control" href= <%= "#" + @specificApartmentId.to_s %> role="button" data-slide="prev"> 
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href= <%= "#" + @specificApartmentId.to_s %> role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 

<!-- Carousel -->

<% end %>  <!--end of apartments each loop -->

 

<!--loading jquery and bootstrap javascript for the image carousel. done on bottom for performance reasons -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

	

</div>