<!DOCTYPE html>
<html>
  <head>
    <title>FirstWebsitePages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

<!---to input the navigation bar links -->
	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
    		<nav>
      			<ul class="nav navbar-nav navbar-right">
        		<li><%= link_to "Home",   root_path %></li>
        		<li><%= link_to "apartments",   apartment_index_path %>  </li> 
        

      			</ul>
    		</nav>
  		</div>
	</header>

    <div class="BelowNavbar">
      <%= yield %>
    </div>

  </body>
</html>
